<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>template WebSocket Chat</title>
    <script crossorigin="anonymous"
            integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ=="
            src="http://lib.baomitu.com/socket.io/3.1.0/socket.io.js"></script>
</head>
<body>
<!--输入内容-->
<input type="text" placeholder="请输入你的内容"/>
<!--发送请求-->
<button>发送请求</button>
<!--展示内容-->
<div></div>
<script type="text/javascript">
    const socket = io('http://localhost');

</script>

</body>
</html>